a { text-decoration: none }
a:link {color:#535353}
a:visited {color:#535353}
a:active {color:#535353}
a:hover {color:#535353}

body {
	background-color: #fdfef4; 
	color:#535353; 
	font-family:'Raleway',Courier, 黑體, 微軟正黑體; 
	text-align: center; 
	margin:0;
}

ul, li {
	list-style:	square;
	text-align: left;
}

.grid_24{
	text-align:center; 
	margin:auto;
}

.grid_10{
	margin-right: 40px;
	margin-left: 40px;
}

.grid_6{
	margin-top: 40px;
}

.myNavbar{
	border-top: #535353 1px solid;
	border-bottom: #535353 1px solid;
	height: 35px;
	padding-top: 15px;
	font-size: 14px;
	line-height:5px;
	opacity: 1;

}

.bottomMenu{
	border-top: #535353 1px solid;
	border-bottom: #535353 1px solid;
	height: 35px;
	z-index: 1;
	position: fixed;
	padding-top: 15px;
	margin-top: -80px;
	font-size: 14px;
	line-height:5px;
	opacity: 1;
}

.navbar_chang{
	opacity: 0.8;
	text-decoration: underline;

}

.section2,.section3,.section4, .section5 {
	height: 800px; 
	border-top: #2e818b 2px solid;
	margin-left: 80px;
	margin-right: 80px;
}

.section6{
	height: 200px;
	margin-bottom: -50px;
	background-color: #dcdcdc;
}

.interest_icon{
	padding-top: 20px;
}

i {
	padding-left: 5px;
	padding-right: 5px;
}

.fa > span {
	font-family: 'Raleway',Courier, 黑體, 微軟正黑體;
	font-size: 24px;
	padding-left: 0.5px;
}

